@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
:root {
  --red: rgba(208, 28, 40, 1);
  --gray:rgba(90, 89, 89, 1);

}
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  height: 72px;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
}
.login-btn {
  all: unset;
  background-color: var(--red);
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 2px;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  margin: 20px auto;
  height: calc(100vh-72px);
}
.main-page > div > h1 {
  font-size: 108px;
  max-width: 600px;
  line-height: 102px;
  font-weight: 800;
}
.main-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  max-width: 400px;
}
.buttons-cat{
  display: flex;
  gap: 40px;
 
}
.shopnow-btn{
  background-color: var(--red);
  color: white;
  font-size: 24px;
  font-weight: 600px;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;

}
.category-btn{
  background-color: transparent;
  color:var(--gray);
  font-size: 24px;
  font-weight: 600px;
  padding: 8px 14px;
  border: 1px solid var(--gray);
  border-radius: 4px;

}
.logo-available{
  display: flex;
  gap: 15px;
}

/*mobile responsive design */
@media only screen and (max-width:480px){
  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    max-width: 100%;
    cursor: pointer;
    /* height: 72px; */
    overflow: hidden;
  }
  .menu-list {
    display: none;
  }
  .main-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
    margin: 0 10px;
    /* margin: 10px auto; */
  }
  .main-page > div > h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .shoe{
    /* width: 80%; */
    max-height: 360px;
    max-width: 360px;
  }
  .description {
    font-size: 16px;
  }
  .buttons-cat{
    display: flex;
    gap: 20px;
  }
  .shopnow-btn{
  
    font-size: 16px;
    font-weight: 600px;
    padding: 4px 8px;
    border: none;
    border-radius: 2px;
  }
  .category-btn{
    font-size: 16px;
    font-weight: 600px;
    padding: 4px 8px;
    border: 1px solid var(--gray);
    border-radius: 2px;
  }
}

/*tab responsive design */
@media only screen and (max-width:768px) and (min-width:481px) {
  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    max-width: 100%;
    cursor: pointer;
    height: 58px;
  }
  .menu-list {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
  }
  .main-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
    margin: 0 10px;
    /* margin: 10px auto; */
  }
  .main-page > div > h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .shoe{
    /* width: 80%; */
    height: auto;
    max-width: 480px;
  }
  .description {
    font-size: 16px;
  }
  .buttons-cat{
    display: flex;
    gap: 30px;
  }
}


/*laptop and small screensresponsive design */
@media only screen and (max-width:1024px) and (min-width:769px) {
  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    max-width: 98%;
    cursor: pointer;
    height: 58px;
  }
  .menu-list {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 24px;
  }
  .main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 5px auto auto 20px;
  }
  .main-page > div > h1 {
    font-size: 36px;
    line-height: 32px;
  }
  .shoe{
    height: auto;
    max-width: 480px;
  }
  .description {
    font-size: 16px;
  }
  .buttons-cat{
    display: flex;
    gap: 30px;
  }
}
